*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}

/* section-one related styles */
.section-one{
background: rgba(121, 214, 58, 0.205);
height: 850px;
}
.parent-div{
display: flex;
justify-content: space-between;
}
.child-div{
    margin: 210px 0px 0px 265px;}

    
.child-div-h2{
    color: #272727;
    font-size: 56px;
    font-weight: 800;
    padding-bottom: 32px;
   
}
.child-div-para{
   
font-size: 18px;
font-weight: bold;
/* opacity: 0.50; */
color: rgba(39, 39, 39, 0.60);
padding-bottom: 32px;
}
.child-div-btn{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 177px;
    height: 64px;
    border-radius: 8px;
    background-color:#E55473; 
}
.child-image{
    margin: 50px 240px 0px 0px;   
}
/* main related styles */
.main-div-one{
text-align: center;
margin-top: 150px;
}
.main-div-h3{
font-size: x-large;
font-weight: bold;
padding-bottom: 15px;
}
.main-div-para{
/* opacity: 0.50; */
color: rgba(39, 39, 39, 0.60);
font-weight: bold;
font-size: large;
line-height: 1.50;

}
/* main div boxes related styles */
.boxes{
display: flex;
justify-content: space-around;
margin: 80px 240px 0px 240px;
}
.box-h4{
text-align: center;
text-decoration: underline;
margin-top: 10px;
}
.box-one-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    width: 464px;
    height: 538px;
  


}
.one-image{
      margin: 110px 0px 0px 67px
}
.box-two-image{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}
.two-image{
    margin: 73px 0px 95px 60px;
}
.box-three-image{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.three-image{
    margin: 67px 0px 0px 83px;
}
/* section related styles */
.three-boxes{
    height: 320px;
    width: 1440px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 112px 0px 93px 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-one{
    margin-left: 200px;
    text-align: center;
}
.box-two{
 text-align: center;
}
.box-three{
    margin-right: 200px;
     text-align: center ;
 }
 /* four section related styles */
 .two-achor{
   height: 500px;
   width: 100%;
   background-image: linear-gradient(200deg, #4990ec 0%, rgba(241, 91, 34, 0.00) 100%),url(https://i.pinimg.com/originals/fd/ce/20/fdce20cda01d2a46987dee013ec29f7d.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: rgb(255, 255, 255);
 }
 .section-four-h1{
font-size: 30px;
 }
 .section-four-btn{
    border-radius: 10px;
    height: 70px;
    width: 184px;
    background-color: #E55473;
    color: azure;
    font-size: larger;
    font-weight: bold;
    margin-right: 40px;
    
}
.section-four-h1{
padding-bottom: 20px;
}
.section-four-btn > a{
    text-decoration: none;
    color: aliceblue;
    
}
.section-four-div{
    padding: 104px 1px 4px 182px;


}
.section-four-div > h3{
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.815);
}

 /* section five related styles */
 .section-five{
    border-radius: 8px;
background: #e9643046;
margin-top: 141px;
align-items: center;
display: flex;
justify-content: space-between;
height: 620px;
 }
 .section-five-div{
text-align: center;
margin: 16px 0px 0px 358px
 }
 .section-five-div > h2{
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
 }
 .section-five-div > h2 > span{
    color: #E55473;
 }
 .section-five-div > p{
font-weight: bold;
color: rgba(39, 39, 39, 0.60);
/* opacity: 0.50; */
padding-bottom: 40px;
 }
 .section-five-div > button{
    border-radius: 10px;
    height: 55px;
    width: 150px;
    background-color: #E55473;
    color: azure;
    font-size: larger;
    font-weight: bold;
    margin-right: 40px;
    
 }
 .section-five-image{
    margin: 18px 433px 0px 0px;
 }
